<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Bundesliga.Membership" connectionString="Data Source=.\\SQLEXPRESS;Initial Catalog=Bundesliga.Membership;User Id=devsql;Password=1234%asd;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="BundesligaContext" connectionString="metadata=res://*/BundesligaContext.csdl|res://*/BundesligaContext.ssdl|res://*/BundesligaContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=Bundesliga.Data;User Id=devsql;Password=1234%asd;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>